<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ field('max_fund', config('fundconfig.max'), trans('fund.admin.max_fund'), {type: 'integer'}) }}
    </div>

    <div class="col-sm-12 col-md-6">
        {{ field('min_fund', config('fundconfig.min'), trans('fund.admin.min_fund'), {type: 'integer'}) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ field('maxtransfer_fund', config('fundconfig.maxtransfer'), trans('fund.admin.maxtransfer_fund'), {type: 'integer'}) }}
    </div>

    <div class="col-sm-12 col-md-6">
        {{ field('mintransfer_fund', config('fundconfig.mintransfer'), trans('fund.admin.mintransfer_fund'), {type: 'integer'}) }}
    </div>
</div>